.mainForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    /* position: absolute; */
    width: 780px;
    /* height: 783px; yang lama */
    height: 100%;
    left: 0px;
    top: 0px;

    background: #FFFFFF;;
    border-radius: 10px;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 354px;
    height: 38px;
}

.subInfo1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    
    width: 204px;
    height: 18px;
    

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    color: #6F7FAF;
}
.subInfo2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    
    width: 720px;
    height: 30px;
    
    background: #F1F1F5;
    border: 1px solid #F1F1F5;
    border-radius: 15px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.114286px;

    color: #0E1B42;
}

.Info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 720px;
    height: 66px;
    margin-bottom: 16px;    

}
.cancel{
    position: absolute;
    
    background: #B0BAD7;

    height: 38px;
    left: 465px;
    top: 775px;
    width: 136px;
    border-radius: 8px;
    
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.save{
    position: absolute;
    background: #FFDD00;

    height: 38px;
    left: 630px;
    top: 775px;
    width: 136px;
    border-radius: 8px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #0E1B42;
}
.terms{
    width: 520px;
    height: 18px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    color: #6F7FAF;
}
.Months{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    color: #6F7FAF;
}
.acc1{
    width: 690px;
    height: 50px;
}
.account{
    /* position: absolute;
    height: 15px;
    left: 0%;
    right: 34.78%;
    top: calc(50% - 15px/2 - 10px); */
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1px;
    
    color: #0E1B42;
}
.noacc{
    /* position: absolute;
    height: 13px;
    left: 0%;
    right: 34.78%;
    top: calc(50% - 13px/2 + 7px); */
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.0857143px;
    
    color: #0E1B42;
}
.amount{
    /* position: absolute;
    height: 15px;
    left: 86.52%;
    right: 0%;
    top: calc(50% - 15px/2); */
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.1px;

    margin-top: -20px;
    
    color: #0E1B42;
}